:root{
    --white: #fff;
    --black: #000;

    --dark-blue-800: #212733;
    --dark-blue-600: #1f242e;
    --dark-blue-500: #2c303b;
    --dark-blue-400: #292d39;
    --dark-blue-300: #2b3240;

    --blue-400: #44557a;

    --gray-500: #4e4e4c;
    --gray-400: #ccc5bb;
    --gray-300: #cdc6bc;
    --gray-200: #ebe6de;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',Arial, Helvetica, sans-serif;
}

.container{
    max-width: 75rem;
    margin: 0 auto;
    padding: 0.5rem;
}

/* Inico do Header */
.header{
    background-color: var(--dark-blue-800);
}

.header ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-link{
    text-decoration: none;
    color: var(--white);
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1.2rem;
}

.menu-item{
    width: 100%;
    cursor: pointer;
    transition: all 0.33s;
}

.menu-item:hover{
    background-color: var(--dark-blue-300);
}

.menu-img{
    background-color: var(--gray-500);
    padding: .5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
}

.menu-info p{
    font-weight: bold;
}

.menu-info span{
    font-size: 0.9rem;
}

.menu-item button{
    padding: .5rem 2rem;
    border-radius: 8px;
    font-weight: bold;
    border: none;
}

/* Fim do Header */

/* Inicio da navegação */
.navbar{
    /*APLICANDO O FLEXBOX*/
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.6rem 0;
    
}

.navbar-brand a{
    color: var(--black);
    text-decoration: none;
}

.navbar-brand p{
    font-weight: bold;
    font-size: 3rem;
    text-decoration: underline;
}

.navbar-brand span{
    font-size: 1rem;
    margin-top: 0;
}

.nav-list{
    margin-left: auto;
    display: flex;
    align-items: center;
}

.navbar-nav{
    display: flex;
}

.nav-item{
    margin: 0 1rem;
    text-transform: uppercase;
}

.nav-link{
    color: var(--dark-blue-300);
    text-decoration: none;
    font-size: 0.875rem;
    font-weight: bold;
}

.nav-button button{
    border: none;
    background-color: var(--dark-blue-300);
    border-radius: 8px;
    color: var(--gray-200);
    text-transform: uppercase;
    font-weight: bold;
    padding: 0.6rem 1rem;

    transition: all .4s;
}

/* Trabalhando a main*/

/*Her0:*/

.hero{
    background-image: url(../img/assets/cytonn-photography-n95VMLxqM2I-unsplash.png);
    height: 70vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center, right;
}

.hero-info{
    padding-top: 3rem;
    width: 60%;
}

.hero-info p{
    background-color: var(--dark-blue-300);
    color: white;
    font-size: 1rem;
    line-height: 1.4;
    margin: 1.6rem 0;
}

.hero-info span{
    font-weight: bold;
}

.hero-info a{
    background-color: var(--dark-blue-300);
    color: var(--white);
    margin-top: 0.3rem;
    font-weight: bold;
    padding: 0.7rem 1rem;
    cursor: pointer;
    border-radius: 9px;
    text-decoration: none;
     text-transform: uppercase;
}


/*Caixas*/

.boxes{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--white);
    text-align: center;
  }

  .box{
    background-color: var(--dark-blue-300);
    border-radius: 4px;
    width: 31.5%;
    bottom: 4rem;
    position: relative;
     padding: 0 1.6rem;
     transition: all 0.4s;
}

.box:hover{
    background-color: var(--dark-blue-600);
    height: 40%;
    bottom: 5rem;
    padding: 0.5 0.8rem;
}

.box-img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    margin: 0 auto;
    background-color: var(--dark-blue-300);
    border-radius: 50%;
    box-shadow: 4px 4px 0 0 rgba(255, 255, 255, 1);
  
    position: relative;
    bottom: 1.1rem;
  
  }

  .box-img img{
    width: 40px;
  }
  
  .box h3{
    margin: 0.3rem 0;
    text-transform: uppercase;
  }

  .box p{
    margin: 2rem 0 4rem; 
  }

  /*Serviços*/

  .services{
    text-align: center;
    margin: 1rem 0 2rem;
  }
  .services h2{
    font-size: 2.2rem;
    color: var(--dark-blue-300);
    text-transform: uppercase;
  }

  .servicer p{
     font-size: 1.2rem;
     color: var(--dark-blue-300);
  }

  /*Inicio do portfólio*/

  .services{
    text-align: center;
    margin: 1rem 0 2rem;
}

.services h2{
    /* background-color: var(--dark-blue-300); */
    font-size: 2.2rem;
    text-transform: uppercase;
}

.services p{
    color: var(--dark-blue-300);
    font-size: 1.2rem;
}

.portfolio{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.portfolio-box{
    width: 33%;
    min-height: 13rem;
    margin: 1rem 0 0;
    padding: 2rem 1rem 0;
  
    display: flex;
    align-items: flex-start;
}

.portfolio-img{
    background-color: var(--gray-200);
    width: 4rem;
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    margin-left: 1rem;
    border-radius: 8px;
}

.portfolio-img img{
    width: 50px;
}
  
.fale-conosco{
    background-color: var(--dark-blue-400);
    padding: 2.5rem;
}

.comp-fale-conosco{
    display: flex;
    gap: 2.5rem;
}

.form{
    width: 60%;
}

.form label{
    display: block;
    color: var(--white);
    font-size: 1rem;
}

.input-name, .email-tel{
    margin-bottom: 1rem;
}

.form-contato input, .form-contato textarea, .input-email input{
    width: 100%;
    background-color: var(--dark-blue-400);
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid var(--blue-400);
    color: var(--white);
    padding: 0.6rem 0;
    font-size: 1rem;
}